/* Основные стили для контейнера игры */
#gameContainer {
    width: 400px;
    height: 400px;
    border: 2px solid #333;
    margin: 20px auto;
    position: relative;
    background-image: url('https://i.imgur.com/XHWmP3v.png'); /* Замените на URL вашего изображения */
    background-size: cover; /* Подгоняет изображение, чтобы оно покрывало весь контейнер */
    background-repeat: no-repeat;
    background-position: center;
}


/* Стиль кнопки для отображения таблицы лидеров */
#showLeaderboardButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Стиль для таблицы лидеров */
#leaderboard {
    display: none; /* Скрыто по умолчанию */
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #333;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Заголовок для таблицы лидеров */
#leaderboard h2 {
    text-align: center;
    margin-bottom: 10px;
}
